@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300&display=swap');
body {
 background-color: #24353f;
 font-family: 'Titillium Web', sans-serif;
 color: #fff;
}
.container-height
{
  height: 90vh !important;
}
.add {
  font-size: 20px;
  transition: 0.2s;
  color: #fff;
  box-shadow: 0px 23px 93px 1px rgba(0, 0, 0, 0.75);
}

.add:hover {
 transform: scale(1.05);
  color: #fff;
}

.note {
  background: linear-gradient(#F9EFAF, #F7E98D);
  color: #24353f;
  transition: all 0.3s;
}
.action-tools{
  display: none;
}
.note:hover {
  box-shadow: 0px 23px 93px 1px rgba(0, 0, 0, 0.75);
}
.note:hover .action-tools{
  display: block;
}
.note a {
  color: black;
  font-size: 23px;
}

.note i {
  transition: all 0.3s;
}
.del{
  color: #F44336;
}
.del:hover {
  transform: scale(1.1);
}

.edit:hover {
  transform:scale(1.1);
}